{{#if tasks}}
  <table>
    <thead>
      <th>N°</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </thead>
    <tbody>
      {{#each tasks}}
        <tr>
          <td>{{@Index}}</td>
          <td><strong>{{title}}</strong></td>
          <td>{{description}}</td>
          <td>
            {{#if done}}
              <a href="/tasks/{{_id}}/toggleDone">Done</a>
            {{else}}
              <a href="/tasks/{{_id}}/toggleDone">Undone</a>
            {{/if}}

            <a href="/tasks/{{_id}}/delete">Delete</a>

            <a href="/tasks/{{_id}}/edit">Edit</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div>
    <div>
      <h1>No Tasks</h1>
    </div>
  </div>
{{/if}}